.sidebar-title{
    display: flex;
    align-items: center;
    
}

.selected-note{
    display: flex;
    width: 20%;
    height: 10vh;
    align-items: center;
    background-color: black;
    color: white;
}

.non-selected-note{
    display: flex;
    width: 20%;
    height: 10vh;
    align-items: center;
    background-color: grey;
    color: white;
}



